{% extends "base.html" %}

{% block title %}
    410 - Page Removed
{% endblock %}

{% block description %}
    Page removed
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/particles.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/404.css") }}">
{% endblock %}

{% block content %}
    <main id="maindiv">
        <div id="div1">
            <div id="particles-js"></div>
            <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
            <script src="{{ url_for("static", filename="/js/particles_app.js") }}"></script>
            <h1>
                <em>410 - Page Removed&nbsp;</em>
            </h1>
            <p>
                Sorry the page <code>{{ url }}</code> has been permanently removed.
            </p>
        </div>
    </main>
{% endblock %}
