{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block description %}
    about
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for("static", filename="/css/particles.css") }}">
{% endblock %}

{% block content %}
    <main id="maindiv">
        <div id="div1">
            <div id="particles-js"></div>
            <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
            <script src="{{ url_for("static", filename="/js/particles_app.js") }}"></script>
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        </div>
    </main>
{% endblock %}
