<footer class="nav-footer" id="page-footer">
    <div class="page-footer-logo">
        <a class="logo" href="/">
            <img src="/img/logo_200x200.png" alt="Logo"/>
        </a>
    </div>
    <div class="page-footer-content">
        <ul>
            <li>get assistance</li>
            <li>contact us</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>twitter</li>
            <li>linkedin</li>
        </ul>

        <ul>
            <li>company</li>
            <li>about us</li>
            <li>careers</li>
            <li>investor relations</li>
            <li>statements</li>
        </ul>

        <ul>
            <li>terms and conditions</li>
            <li>gym rules</li>
            <li>privacy</li>
            <li>cookies</li>
            <li>gym safety</li>
            <li>Coronavirus risk asessment</li>
            <li>sitemap</li>
        </ul>
    </div>
    <div class="page-footer-end">
        <p>copyright 2022</p>
        <p>registered in England No: 193482019381083</p>
        <p>office: 123 fake address lane nr2 1nh Norwich, United Kingdon</p>
    </div>
</footer>
